* {
  padding: 0;
  margin: 0;
  color: #000000;
}

a {
  font-weight: bolder;
  text-decoration: none;
}

.wrapper {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

header {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

header > button {
  font-size: 0;
  border: 0;
  background: none;
  width: 10%;
}

header > button > img {
  width: 1.5rem;
  height: 1.5rem;
}

header > h1 {
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  white-space: nowrap;
  width: 80%;
}

header > span {
  // flex-grow: 2;
  width: 10%;
}

.ul {
  margin: 0 auto;
  display: flex;
}

.ul--row {
  @extend .ul;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  padding: 0.5rem 0;
  line-height: 1.5rem;
}

.ul--col {
  @extend .ul;
  flex-direction: column;
}

.li {
  list-style: none;
  text-align: center;
  padding: 0.5rem;
  color: #000000;
}

.li--active {
  @extend .li;
  font-weight: bold;
}

.square-colored-btn {
  border: 0;
  background: rgb(68, 16, 190);
  color: #ffffff;
  line-height: 1.2rem;
  padding: 0.2rem;
  width: 5rem;
  white-space: nowrap;
  overflow: hidden;
}

.museum_detail__main__floor {
  // margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
.museum_detail__main__floor__img {
  width: 100%;
  height: auto;
}

.museum_detail__main__floor___map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.museum_detail__main__floor__link {
  position: absolute;
  display: block;
  border: 4px solid rgb(68, 16, 190);
}

.artwork__ul {
  @extend .ul--col;
  width: 100%;
  padding: 0;
}
.artwork__main__li {
  @extend .li;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  height: 100px;
}
.artwork__main__li > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.artwork__main__li__info {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}
.artwork__main__li__info__title {
}
.artwork__main__li__info__artist {
  font-style: normal;
}
.artwork__main__li__info__recommend {
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(68, 16, 190);
}
.artwork__main__li__info__add-btn{
  @extend .square-colored-btn;
  margin-top: 0.5rem;
}
